{% extends 'base_without_searching.html' %}

{% block title %}Webset Checking Logic{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Set the Logic</li>
{% endblock %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-10 col-sm-12">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success btn-block">Save&Test</button>
        <a href="{{root}}/{{user.username}}/{{dir}}" class="btn btn-info btn-block">Back to {{dir}}</a>
        {% if result %}
          <div>
              Web status: {{result.status}}
          </div>
           <div>
              What we got: {{result.actual}}
          </div>
           <div>
              Is match: {{result.is_match}}
          </div>
        {% endif %}
      </form>
  </div>
</div>
{% endblock %}
